/*全局*/
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; outline: none;  }
img { border: 0 none; vertical-align: top; }
body{font-size:12px;color:#333333; font-family: 微软雅黑, Tahoma, 宋体, Geneva, sans-serif;}
ul, li { list-style-type: none; }
h1, h2, h3, h4, h5, h6{ font-size: 12px; font-weight:normal;padding:0;margin:0}
strong{ font-weight:normal;padding:0;margin:0}
input, select, button, textarea { font-size: 12px; font-family: Tahoma,宋体, Geneva, sans-serif; vertical-align:middle;}
button {cursor: pointer;_cursor: hand;}
i, em, cite { font-style: normal; }
a, a:link,a:visited{ color: #000; text-decoration: none; }
a:hover { text-decoration: underline;color:#45b4e9;}
a:focus { outline: none; }
.fixed:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.fixed { display: block; min-height: 1%;}
*html .fixed { height: 1%; }
.clear {clear: both;}
.orange,a.orange, a.orange:link, a.orange:visited{color:#db0100; text-decoration:none}
a.orange:hover{text-decoration: underline;color:#db0100;}
.tright{text-align:right}
.tcenter{text-align:center}
.blue,.bluelink,a.bluelink,a.bluelink:link,a.bluelink:visited{color:#45b4e9;}
a.bluelink:hover{ text-decoration:underline}
.blue1,.bluelink1,a.bluelink1,a.bluelink1:link,a.bluelink1:visited{color:#0066FF;}
a.bluelink1:hover{ text-decoration:underline}
.green,.greenlink,a.greenlink,a.greenlink:link,a.greenlink:visited{color:#86cd9f;}
a.greenlink:hover{ text-decoration:underline}
.green1,.greenlink1,a.greenlink1,a.greenlink1:link,a.greenlink1:visited{color:#00af8a;}
a.greenlink1:hover{ text-decoration:underline}
.yellow,.yellowlink,a.yellowlink,a.yellowlink:link,a.yellowlink:visited{color:#ff6600;}
a.yellowlink:hover{ text-decoration:underline}
.g,a.g,a.g:link,a.g:visited{color:#fff;text-decoration: none;}
a.g:hover{color:#fff;text-decoration: none;}
.f12px{font-size:12px;}
.f14px{font-size:14px;}
.f16px{font-size:16px;}
.f18px{font-size:18px;}
.f24px{font-size:24px;font-weight:bold}
.fb{font-weight:bold}
.fc{text-decoration: line-through;}
.fright{float:right;display:inline;}
.fright a{ cursor:pointer;}
.fleft{float:left;display:inline}
.black{color:#000}
.underline{ text-decoration:underline}

.pleft12p{padding-left:12px;}
.gray,a.gray, a.gray:link, a.gray:visited{color:#eaeaea; text-decoration:none}
a.gray:hover{text-decoration: underline;color:#676767;}

.gray1,a.gray1, a.gray1:link, a.gray1:visited{color:#b8bdca; text-decoration:none}
a.gray1:hover{text-decoration: underline;color:#676767;}

.gray2,a.gray1, a.gray2:link, a.gray2:visited{color:#777777; text-decoration:none}
a.gray2:hover{text-decoration: underline;color:#676767;}

.yellow{ color:#cd6502;}
.box1000{ width:1000px; margin:0 auto;}
.hidden{display:none}
.abs{ position:absolute;}
.rel{position:relative;}
.r_talign{ text-align:right; padding-top:5px;}
.height40{ height:40px; line-height:40px;}

/*首页*/
.top{ width:100%; background:url(top_bg.jpg) top center no-repeat; height:58px;}
.top .logo{ float:left; margin-top:10px;}
.top .top_search_wrap{ float:left; left:353px; top:12px; position:absolute;}
.top_search_wrap{ width:255px; height:36px; background:url(top_search_bg.png) center no-repeat;}
.top_search_wrap .search_input{ float:left; width:185px; height:10px; padding:10px 10px; font-size:12px; color:#566886; background:#31415a; border:none;}
.top_search_wrap .search_btn{ float: right; width:35px; height:35px; background:url(top_search_btn.png) no-repeat; border:none; cursor:pointer;}
.top .top_user_wrap{ position:absolute; right:0px; top:12px;}
.top_user_wrap .ll{ display:inline-block; height:36px; background:url(top_userbg_l.png) left top no-repeat;}
.top_user_wrap .rr{ display:inline-block; height:36px; background:url(top_userbg_r.png) right top no-repeat;}
.top_user_wrap .mm{ display:inline-block; height:36px; background:url(top_userbg_m.png) right top repeat-x; }
.top_user_wrap .pull_down_wrap{ position:absolute; top:36px; right:0px; width:320px; height:180px; border-radius:5px; border:1px solid #d0d0d0; background:#FFF;
-moz-box-shadow: 0px 0px 10px #909090;/*firefox*/
-webkit-box-shadow: 0px 0px 10px #909090;/*safari或chrome*/
box-shadow:0px 0px 10px #909090;/*opera或ie9*/
}
.pull_down_wrap .bighead{ float:left; margin-top:15px; margin-left:15px; border:1px solid #fff;}
.pull_down_wrap .p_d_rr{ float:left; margin-left:10px;margin-top:15px; width:190px;}
.p_d_rr .p_n{ font-size:15px; font-weight:bold; color:#293751; line-height:30px;}
.p_d_rr .p_e{ font-size:12px; color:#818282; height:33px;}
.p_d_rr  a,.p_d_rr  a:visited{ display:block; background:#f7f7f7; height:27px; line-height:27px; padding:0px 10px; width:170px; color:#818080; font-size:14px; margin-bottom:3px;}
.top_user_wrap .smallhead{ float:left; border:1px solid #bdbfcb; margin:5px 7px;}
.top_user_wrap .name{ float:left; padding:0px 5px; font-size:12px; color:#b7c4d5; line-height:36px;}
.top_user_wrap a.pull_down_ico{ float: left; display:inline-block; width:20px; height:36px; background:url(ico01.png) center 12px no-repeat;}

.main_nav_wrap{ width:100%; background:url(mainnav_bg.jpg)  center top no-repeat; height:101px;}
.main_nav_wrap ul{ height:94px; padding-top:2px; background:url(mainnav_bg_line.jpg) left top no-repeat; padding-left:2px;}
.main_nav_wrap li{ float:left; width:100px; height:93px; background:url(mainnav_bg_line.jpg) right top no-repeat; text-align:center;}
.main_nav_wrap img{ display:block; margin-top:19px; margin-bottom:15px; margin-left:35px;*margin-left:0px;}
.main_nav_wrap span{ font-size:12px; color:#fff;}
.main_nav_wrap a,.main_nav_wrap a:visited{ display:inline-block; width:100px; height:93px;  text-decoration:none;}
.main_nav_wrap a:hover,.main_nav_wrap a.on{ display:inline-block; width:100px; height:93px; background:url(mainnav_bg_on.jpg) center no-repeat;}

.wrap{}
.left_wrap{ float:left; width:202px;border:1px solid #ccc;border-top:0px; min-height:700px;}
.left_wrap .bigclass_wrap{}
.bigclass_wrap .bigclass{ width:100%; font-size:13px; color:#38404d; background:url(ico02.png) 11px 16px no-repeat; height:40px; line-height:40px; border-bottom:1px solid #eeeeee; position:relative; text-indent:38px;}
.bigclass span{ position:absolute; right:0px; width:25px; margin-top:10px;*margin-top:0px; height:18px; background:url(ico03.png) left no-repeat; cursor:pointer;}
.bigclass_wrap .smallclass_wrap{ background:url(smallmenu_bg1.jpg) left top repeat-y;border-bottom:1px solid #eeeeee;}
.smallclass_wrap li{ height:35px; line-height:35px;}
.smallclass_wrap a,.smallclass_wrap a:visited{ margin-left:26px;*margin-left:15px; display:inline-block; background: url(smallmenu_bg2.jpg) left 17px no-repeat; text-indent:12px; font-size:13px; color:#939aa2;}
.right_wrap{ float:left; width:795px;  background:url(right_bg.jpg) repeat;}

.guidewrap{ font-size:14px; color:#686868; height:40px; line-height:40px; text-indent:20px;}
.guidewrap a,.guidewrap a:visited{font-size:14px; color:#686868;}
.box_wrap1{ margin-top:25px; padding-left:20px; margin-bottom:25px;}
.box_wrap2{border:1px solid #ccc; padding:40px 25px; margin-left:10px; background:#FFF;}
.btn01{ width:94px; height:37px; border:none; background:url(btn_01.jpg) no-repeat; text-align:center; font-size:14px; color:#9d6c43; font-weight:bold; cursor:pointer;}
.box_wrap1 .mainsearch_wrap{ float:right;}
.mainsearch_wrap{ width:320px; height:44px;}
.mainsearch_wrap span{ float: left; display: inline-block; width:250px; height:42px; background:url(search_bg.jpg) no-repeat;}
.mainsearch_input{ width:185px; height:19px; padding:1px 10px; font-size:12px; color:#cdcbce; border:none; margin-left:35px; margin-top:10px; border:0px none;}
.mainsearch_btn{ float:left; width:60px; height:42px; background:url(search_btn.jpg) no-repeat; font-size:14px; color:#626262; font-weight:bold; margin-left:10px; border:none; cursor:pointer;}

.tb01{ width:100%; border-collapse:collapse; border-top:1px solid #dddddd; border-left:1px solid #ddd;}
.tb01 th{ font-size:14px; font-weight:bold;}
.tb01 .color{ background:#f7f7f7;}
.txtcolor_yellow{ color:#fa9336; text-decoration:underline;}
.txtcolor_red,a.txtcolor_red,,a.txtcolor_red:visited{ color:#c13c3d; text-decoration:underline;}
.txtcolor_gray,a.txtcolor_gray,a.txtcolor_gray:visited{ color:#555; text-decoration: underline;}
a.txtcolor_red:hover{color:#c13c3d;}
a.txtcolor_gray:hover{color:#555;}
.tb01 .tleft{ text-align:left;}
.tb01 th,.tb01 td{ padding:7px; border-right:1px solid #dddddd; border-bottom:1px solid #ddd; text-align:center; color:#555555;}
.tb01 td{ font-size:12px;}

.tb02{ width:100%; border-collapse:collapse;}
.tb02 th{ font-size:14px; font-weight:bold; text-align:right; }
.tb02 th,.tb02 td{ padding:7px; color:#555555;}

.drop_down_menu_wrap01{ width:180px; height:30px;padding:0px 5px; border:1px solid #cccccc; background:url(input_bg.jpg) repeat-x; position:relative;}
.drop_down_menu_wrap01 .txt{ position:absolute; left:5px; top:0px; display:inline-block; line-height:30px; width:145px;}
.drop_down_menu_wrap01 .d_d_btn{ position:absolute; right:0px; top:0px;  display:inline-block; width:30px; height:30px; background:url(drop_down_btn.png) right no-repeat; cursor:pointer;}
.drop_down_menu_wrap01 .pop_menu{ position:absolute; width:190px; border:1px solid #ccc; left:-1px; top:30px; background:#FFF;}
.drop_down_menu_wrap01 .pop_menu li{ height:25px; line-height:25px; text-indent:15px; border-bottom:1px solid #EBEBEB;}
.drop_down_menu_wrap01 .pop_menu li:hover{ background: #EFEFEF;}

.input01{width:401px; height:14px;padding:8px 5px; border:1px solid #cccccc; background:url(input_bg.jpg) repeat-x;margin:0px 2px;}
.input02{width:238px; height:14px;padding:8px 5px; border:1px solid #cccccc; background:url(input_bg.jpg) repeat-x;margin:0px 2px;}
.input03{width:196px; height:14px;padding:8px 5px; border:1px solid #cccccc; background:url(input_bg.jpg) repeat-x;margin:0px 2px;}
.input04{width:128px; height:14px;padding:8px 5px; border:1px solid #cccccc; background:url(input_bg.jpg) repeat-x;margin:0px 2px;}
.input05{width:147px; height:14px;padding:8px 5px; border:1px solid #cccccc; background:url(input_bg.jpg) repeat-x;margin:0px 2px;}

.input06{width:127px; height:14px;padding:8px 5px; margin:0px 2px; border:1px solid #cccccc; background:url(input_bg.jpg) repeat-x;}
.input06_on{width:133px; height:16px;padding:10px 5px; border:none; background:url(light_box02.png) no-repeat;}

.input07{width:275px; height:14px;padding:8px 5px; margin:0px 2px; border:1px solid #cccccc; background:url(input_bg.jpg) repeat-x;}
.input07_on{width:290px; height:16px;padding:10px 5px; border:none; background:url(light_box01.png) no-repeat;}

.input08{width:72px; height:14px;padding:8px 5px; margin:0px 2px; border:1px solid #cccccc; background:url(input_bg.jpg) repeat-x;}
.input08_on{width:79px; height:16px;padding:10px 5px; border:none; background:url(light_box03.png) no-repeat;}

.input09{width:135px; height:14px;padding:8px 5px; margin:0px 2px; border:1px solid #cccccc; background:url(input_bg.jpg) repeat-x;}
.input09_on{width:140px; height:16px;padding:10px 5px; border:none; background:url(light_box04.png) no-repeat;}
.input10{width:23px; height:14px;padding:8px 5px; margin:0px 2px; border:1px solid #cccccc; background:url(input_bg.jpg) repeat-x;}
.input10_on{width:29px; height:16px;padding:10px 5px; border:none; background:url(light_box05.png) no-repeat;}
.input11{width:35px; height:14px;padding:8px 5px; margin:0px 2px; border:1px solid #cccccc; background:url(input_bg.jpg) repeat-x;}
.input11_on{width:41px; height:16px;padding:10px 5px; border:none; background:url(light_box06.png) no-repeat;}



.textarea{ width:498px; height:105px;border:1px solid #cccccc; padding:3px;}
.btn_wrap{ padding-top:20px; padding-bottom:20px; height:40px;}
.btn_wrap1{ padding-top:20px; padding-bottom:20px; height:40px; margin-left:20px;}
.btn02{ width:64px; height:32px; border:none; background:url(btn_bg01.jpg) no-repeat; text-align:center; font-size:14px; color:#626262; font-weight:bold; cursor:pointer;}
.btn03{ width:110px; height:37px; border:none; background:url(btn_02.jpg) no-repeat; text-align:center; font-size:14px; color:#9d6c43; font-weight:bold; cursor:pointer;}
.modify_btn01{ width:64px; height:32px; border:none; background:url(modify_btn01.jpg) no-repeat; text-align:center; font-size:14px; color:#9d6c43; font-weight:bold; cursor:pointer;}
.modify_btn02{ width:64px; height:32px; border:none; background:url(modify_btn02.jpg) no-repeat; text-align:center; font-size:14px; color:#626262; font-weight:bold; cursor:pointer;}


.p11{ height:30px; line-height:30px; margin-bottom:15px; margin-left:35px;}
.line01{ height:10px; border-bottom:1px solid #e2e2e2; margin-bottom:10px;}

.check_box{ display:inline-block; width:15px; height:15px; background:url(check_box.jpg) no-repeat; cursor:pointer;}
.check_box_on{ display:inline-block; width:15px; height:15px; background:url(check_box_on.jpg) no-repeat; cursor:pointer;}

.tb03{ width:100%; border-collapse:collapse;}
.tb03 th{ font-size:14px; font-weight:bold; border-bottom:1px solid #e2e2e2;}
.tb03 th,.tb03 td{ padding:5px 3px; color:#555555; text-align:center;height:35px;}
.tb03 td{ font-size:12px; border-bottom:1px  dotted #e2e2e2; }
.tb03 .modify_on{ background:#f6f6f6;}

.drop_down_menu_wrap02{ width:75px; height:30px;padding:0px 5px; border:1px solid #cccccc; background:url(input_bg.jpg) repeat-x; position:relative;}
.drop_down_menu_wrap02_on{ width:77px; height:36px; line-height:36px;padding:0px 5px;background:url(light_box03.png) no-repeat;  position:relative;}
.drop_down_menu_wrap02 .txt,.drop_down_menu_wrap02_on .txt{ position:absolute; left:5px; top:0px; display:inline-block; line-height:30px; width:50px;}
.drop_down_menu_wrap02 .d_d_btn,.drop_down_menu_wrap02_on .d_d_btn{ position:absolute; right:0px; top:0px;  display:inline-block; width:30px; height:30px; background:url(drop_down_btn.png) right no-repeat; cursor:pointer;}
.drop_down_menu_wrap02 .pop_menu,.drop_down_menu_wrap02_on .pop_menu{ position:absolute; width:85px; border:1px solid #ccc; left:-1px; top:30px; background:#FFF;}
.drop_down_menu_wrap02 .pop_menu li,.drop_down_menu_wrap02_on .pop_menu li{ height:25px; line-height:25px; border-bottom:1px solid #EBEBEB;}
.drop_down_menu_wrap02 .pop_menu li:hover,.drop_down_menu_wrap02_on .pop_menu li:hover{ background: #EFEFEF;}
.drop_down_menu_wrap02_on .d_d_btn{ top:2px;}
.drop_down_menu_wrap02_on .pop_menu{ left:2px;width:83px;top:33px; }
.drop_down_menu_wrap02_on .txt{ line-height:36px;}



/*分页*/
.page{ padding:20px 0px; text-align:right;}
.page a,.page a:visited{ display:inline-block; padding:1px 6px; margin-right:5px; font-size:13px; color:#3d2d3a; border:1px solid #cccccc; text-decoration:none; background:#f7f7f7;}
.page a:visited{color:#3d2d3a;}
.page a:hover,.page a.isthis,.page a.isthis:visited{ border:1px solid #c79364; color:#fff;display:inline-block; padding:1px 6px; margin-right:5px; font-size:13px;text-decoration:none; background:#fb9437;}
.page_title{ display:inline-block; height:35px; line-height:35px; margin-left:35px; padding-right:55px; border-bottom:3px solid #d29e6f; font-size:15px; font-weight:bold; color:#333; margin-top:20px; margin-bottom:20px;}

 

