<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="OledbStr" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=F:\项目\动漫之家接口\新建文件夹\web服务端\发布版\data\Database.mdb;" />
  </appSettings>
  <connectionStrings />
    <system.webServer>
        <httpRedirect enabled="false" destination="http://124.237.92.234/$S$Q" exactDestination="true" httpResponseStatus="Permanent" />
    </system.webServer>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX 
        所必需的。对于早期版本的 IIS，不必保留此节。
  -->
</configuration>